body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 235, 235, 0.847);
}

header {
    background-color: rgb(111, 86, 68);
    color: rgb(246, 238, 238);
    padding: 10px;
    text-align: center;
}